.drawer {
  .drawer__content {
    .drawer__thumb {
      display: flex;
      justify-content: center;
    }
    .drawer__title {
      color: #000;
      font-size: 21px;
      font-weight: bold;
    }
    .drawer__desc {
      color: #8795a1;
      font-size: 18px;
      margin-top: 10px;
    }
    .drawer__create,
    .drawer__framework,
    .drawer__update,
    .drawer__download,
    .drawer__command {
      color: #8795a1;
      font-size: 14px;
      margin-top: 10px;
    }
    .drawer__framework {
      display: flex;
      align-items: center;
    }
    .drawer__command {
      display: flex;
      margin-top: 20px;
      background: #eee;
      padding: 10px;
      border-radius: 6px;
    }
  }
}

.giveMeStare {
  display: flex;
  align-items: center;
  color: #8795a1;
  font-size: 12px;
  cursor: pointer;
}

.giveMeStare:hover {
  color: #15aabf;
}
